@font-face {
    font-family: Press_Start_2P;
    src: url(fonts/PressStart2P-Regular.ttf) format('truetype');
}

*{
    font-family: 'Press_Start_2P', Arial, sans-serif;;
}
header img{
    height: 50px;
    width: 50px;
}
nav{
    display: flex;
    justify-content: flex-end;

}

.tema{
    justify-content: flex-end;
    width: 20%;
}
main{
    margin: 50px;
    display: flex;
    justify-content: space-between;

}
.part{
    justify-content: space-between;
    width: 90%;
    display: block;
}
input, textarea{
    width: 80%;
    height: 60%;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
}

  