@font-face {
    font-family: Press_Start_2P;
    src: url(fonts/PressStart2P-Regular.ttf) format('truetype');
}

*{
    font-family: 'Press_Start_2P', Arial, sans-serif;;
}

/*Para escritorio*/
@media screen and (min-width: 769px){
    body{
        font-size: 14px;
        line-height: 1.5;
    }
    /*header*/
    
    nav{
        display: flex;
    }
    nav h2{
        margin-right: 10em;
    }
    header img{
        justify-content: flex-start;
        height: 50px;
        width: 50px;
        margin-right: 30px;
    }
    /*main*/
    main{
        display: flex;
        margin: 50px;
        height: 500px;

    } 
    main div{
        width: 90%;
        display: block;
    }
   
    input, textarea{
        width: 80%;
        height: 60%;
    }
    .btn{
        margin-top: 50px;
        display: flex;
        justify-items: center;
    }

    /*footer*/
    footer{
        display: flex;
        justify-content: center;
    }
}
/*Para tables*/
@media screen and (max-width: 768px){
    body{
        font-size: 10px;
        line-height: 1.5;
    }
    /*header*/
    nav{
        display: flex;
    }
    nav h2{
        margin-right: 10em;
    }
    header img{
        justify-content: flex-start;
        height: 50px;
        width: 50px;
    }
    /*main*/
    main{
        display: block;
        justify-content: center;
        margin: 50px;
        height: 500px;

    } 
    main div{
        margin-top: 30px;
        margin-left: 20px;
        width: 90%;
        display: block;
    }
   
    input, textarea{
        width: 80%;
        height: 60%;
    }
    .btn{
        margin-top: 50px;
        display: flex;
        justify-items: center;
    }

    /*footer*/
    footer{
        display: flex;
        justify-content: center;
    }

}
/*Para celulares*/
@media screen and (max-width: 500px){
    body{
        font-size: 8px;
        line-height: 1.5;
    }
    /*header*/
    nav{
        display: flex;
    }
    nav h2{
        display: none;
    }
    header img{
        justify-content: flex-start;
        height: 50px;
        width: 50px;
        margin-right: 30px;
    }

 
    /*main*/
    main{
        display: block;
        margin: 10px;
        height: 400px;

    } 
    main div{
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        width: 90%;
    }
   
    input, textarea{
        width: 80%;
        height: 60%;
    }
    .btn{
        margin-top: 50px;
        display: block;
    }

    /*footer*/
    footer{
        margin-top: 200px;
        display: block;

    }

    footer i{
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}



  